/* style.css */
body {
    background-color: #e7f7f5;
    color: #1d4c4f;
    font-family: 'Segoe UI', sans-serif;
}
h1, h2, h3 {
    color: #006e6d;
}
button, .stButton > button {
    background-color: #00b4aa;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
}

/* Atur padding sidebar agar menempel ke atas */
[data-testid="stSidebar"] > div:first-child {
    padding-top: 10px;    /* Tambahkan ini */
    padding-left: 20px;
    padding-right: 15px;
}